/* Colors:
  main: #2baf2b;
  darker: #2c8b2c;
*/

@font-face {
  font-family: Kabrio;
  src: url('Kabrio-Abarth-Regular-trial.ttf');
}

body, #root, .App {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
}

.App {
  display: flex;
  font-family: Kabrio;
  font-size: large;
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
}

.map {
  height: 100%;
  width: 70%;
}

.sidepanel {
  height: 98%;
  width: 28%;
  background: #2baf2b;
  color: white;
  padding: 1%;
  display: flex;
  flex-direction: column;
}

.field-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.field-info-form {
  height: 92%;
}

.field-info-form > div {
  display: flex;
  flex-direction: column;
}

.field-info-form > div > div {
  display: flex;
}

.field-info-form > div > div > select {
  flex-grow: 1;
}
.field-info-form > div > div > div {
  width: 30px;
  text-align: center;
  font-size: xx-large;
  cursor: pointer;
}

.field-info-controls {
  height: 8%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.field-info-controls > div {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  cursor: pointer;
}

.border-between > * {
  border-left: 1px solid white;
}

.border-between > *:first-child {
  border-left: none;
}

.button {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid white;
  text-align: center;
  cursor: pointer;
  background: #2c8b2c;
}

.notification {
  background: #2baf2b;
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: #000000 1px 1px 5px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
  max-width: 55%;
  max-height: 100px;
  z-index: 10;
}

.clickable-text {
  font-size: x-large !important;
  cursor: pointer;
}

.grow {
  flex-grow: 1;
}

.hidden {
  display: none !important;
}

.failure-background {
  background: #f00000;
}

.failure {
  color: #c81d1d;
}

.success {
  color: #00ff07;
  text-shadow: black 0 0 2px;
}

.neutral {
  color: white;
  text-shadow: black 0 0 2px;
}